UIElementsSchema/UnityEditor.Rendering.Toon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.Rendering.Toon" elementFormDefault="qualified" targetNamespace="UnityEditor.Rendering.Toon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="PopupVEType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopupVE" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:PopupVEType" />
</xs:schema>